In [1]:
import numpy as np
import pandas as pd

In [21]:
earthquake = pd.read_csv('source/earthquake.csv')

In [22]:
earthquake.head()

,earthquake_id,occurred_on,latitude,longitude,depth,magnitude,calculation_method,network_id,place,cause
0,1,1969-01-01 9:07:06,51.096,-179.392,45.0,5.6,mw,iscgem812771,"Andreanof Islands, Aleutian Islands, Alaska",earthquake
1,2,1969-01-02 17:50:48,-56.096,-27.842,80.1,6.0,mw,iscgemsup812819,South Sandwich Islands region,earthquake
2,3,1969-01-03 3:16:40,37.140,57.899,10.0,5.5,mw,iscgem812826,Turkmenistan-Iran border region,earthquake
3,4,1969-01-03 13:28:12,51.132,-179.306,15.0,5.9,mw,iscgem812841,"Andreanof Islands, Aleutian Islands, Alaska",earthquake
4,5,1969-01-04 22:36:48,-6.850,129.821,105.0,5.8,mw,iscgem812879,Banda Sea,earthquake

In [23]:
earthquake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23119 entries, 0 to 23118
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   earthquake_id       23119 non-null  int64
 1   occurred_on         23119 non-null  object
 2   latitude            23119 non-null  float64
 3   longitude           23119 non-null  float64
 4   depth               23119 non-null  float64
 5   magnitude           23119 non-null  float64
 6   calculation_method  23119 non-null  object
 7   network_id          23119 non-null  object
 8   place               23119 non-null  object
 9   cause               23119 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 1.3+ MB