In [1]:
import datetime

# Setup Student Class

In [2]:
class Student:
    def __init__(self, accademic_num, name, dob=datetime.date(2000,1,1), level=1):
        self.accademic_num = accademic_num
        self.name = name
        self.dob = dob
        self.level = level
        self.enrolled_courses = []
    
    def display_student(self):
        print('Accademic Number: ', self.accademic_num)
        print('Name: ', self.name)
        print('Date of birth: ', self.dob)
        print('Level: ', self.level)
        print('Registered Courses')
        for course in self.enrolled_courses:
            print(course.course_name)
    
    def enroll(self, course):
        self.enrolled_courses.append(course)
        course.enrolled_students.append(self)
        
    def drop(self, course):
        self.enrolled_courses.remove(course)
        course.enrolled_students.remove(self)
        
    def print_transcript(self):
        for course in self.enrolled_courses:
            print("\t" + course.course_name + ": " + str(course.get_overall_grade_for(self)))

# Setup Course Class

In [3]:
class Course:
    def __init__(self, course_id, course_name, course_hours=5):
        self.course_id = course_id
        self.course_name = course_name
        self.course_hours = course_hours
        
        self.enrolled_students = []
        self.assignments = {}
        
    def print_enrolled_students(self):
        print('Enrolled Students')
        for student in self.enrolled_students:
            print(student.name)
    
    
    def add_assignment(self, assignment):
        self.assignments[assignment] = {}
        
    def set_grade(self, assignment, student, grade):
        self.assignments[assignment][student] = grade
        
    def get_overall_grade_for(self, student):
        sum_scores = 0
        num_graded = 0
        for assignment, grades in self.assignments.items():
            if student in grades.keys():
                sum_scores += grades[student]
                num_graded += 1
        if num_graded == 0:
            return "N/A"
        
        return sum_scores / float(num_graded)
    
    
    def list_assignments(self):
        print('Assignments of '+self.course_name+' :')
        for k,v in self.assignments.items():
            print(v)

In [4]:
ali = Student('41000', 'Ali Almohammed Saleh')
sami = Student('41001', 'Sami Alghazal')

In [5]:
computer = Course('101', 'Computer 1')
physics = Course('102', 'Physics 1')
chemistry = Course('103', 'Chemistry')

In [6]:
computer.add_assignment('Quiz 1')
computer.add_assignment('Homework 1')
computer.add_assignment('Quiz 2')
computer.add_assignment('Homework 2')
chemistry.add_assignment('Quiz 1')
chemistry.add_assignment('Homework 1')
chemistry.add_assignment('Quiz 2')
chemistry.add_assignment('Homework 2')

In [7]:
computer.set_grade('Quiz 1', ali, 100)
computer.set_grade('Homework 1', ali, 5)

chemistry.set_grade('Quiz 1', sami, 100)
chemistry.set_grade('Homework 1', sami, 5)

In [8]:
ali.enroll(computer)
ali.enroll(physics)
ali.enroll(chemistry)
sami.enroll(computer)
sami.enroll(physics)
sami.enroll(chemistry)

In [9]:
ali.display_student()
ali.drop(physics)
ali.display_student()

Accademic Number:  41000
Name:  Ali Almohammed Saleh
Date of birth:  2000-01-01
Level:  1
Registered Courses
Computer 1
Physics 1
Chemistry
Accademic Number:  41000
Name:  Ali Almohammed Saleh
Date of birth:  2000-01-01
Level:  1
Registered Courses
Computer 1
Chemistry

In [10]:
computer.print_enrolled_students()

Enrolled Students
Ali Almohammed Saleh
Sami Alghazal

In [11]:
computer.list_assignments()

Assignments of Computer 1 :
{<__main__.Student object at 0x111c1fe80>: 100}
{<__main__.Student object at 0x111c1fe80>: 5}
{}
{}

In [12]:
ali.print_transcript()
print('---------')
sami.print_transcript()

	Computer 1: 52.5
	Chemistry: N/A
---------
	Computer 1: N/A
	Physics 1: N/A
	Chemistry: 52.5

In [13]:
ali = Student('111', 'Ali Almohammed Saleh')
sami = Student('110', 'Sami the Sami')
enrolled = []
enrolled.append(ali)
enrolled.append(sami)

tasks = {}

tasks['first'] = {}
tasks['second'] = {}
tasks['third'] = {}
tasks['fourth'] = {}

tasks['first'][ali] = 100
tasks['first'][sami] = 98


tasks['second'][ali] = 95
tasks['second'][sami] = 73

#tasks['third'][ali] = 85
tasks['fourth'][ali] = 77

In [14]:
for student in enrolled:
    print(student.name)
    for k,v in tasks.items():
        graded = 0
        if student in v.keys():
            print(k, v[student])
            graded += 1
        if graded == 0:
            print('N/A')

Ali Almohammed Saleh
first 100
second 95
N/A
fourth 77
Sami the Sami
first 98
second 73
N/A
N/A